
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-content: center;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  color: rgb(100, 55, 4);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  font-size: x-large;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: rgb(100, 55, 4);
  padding: 0.4rem 0.5rem;
  align-content: center;

}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  text-align: center;
  cursor: pointer;
  font-size: 3rem;
  font-size: 30;
  font: bolder;
  width: fit-content;
  padding-left: 250px;
}
