.Names{
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    
}
.Button{
    background-color: transparent;
    color: rgb(100, 55, 4);
    font-size: large;
    align-content: center;
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
    overflow-y: scroll; 
    overflow-x: hidden; 
    scroll-behavior: auto;
}

.Reservation{
    column-gap: 20px;
}

th{
    border: 1px solid #999;
    padding: .5rem;
    text-align: center;
}

td{
    border: 1px solid #999;
    padding: .5rem;
    text-align: center;
    align-items: center;
}


table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
