.Names{
    text-align: center;
    font-size: large;
    padding: 5%;
    padding-left: 30%;
    
}
.Button{
    background-color: transparent;
    color: rgb(100, 55, 4);
    font-size: large;
    align-content: center;
    margin-bottom: 100px;
    text-align: center;
    width: fit-content;
    box-sizing: content-box;
    position: fixed;
    padding-left: 20%;    
    padding-bottom: 5%;
}

.Reservation{
    column-gap: 20px;
}

th{
    border: 1px solid #999;
    padding: .5rem;
    text-align: left;
}

td{
    border: 1px solid #999;
    padding: .5rem;
    text-align: center;
    align-items: center;
}
